<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add track</title>
    <style>#map { height: 400px; }</style>
    <link   href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
            crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div style="width: 500px" class="container text-center">
    <h1 style="font-family: 'Times New Roman', Times, serif">New track</h1>
    <form th:action="@{/tracks}" th:object="${track}" method="post">

        <div class="form-group">
            <label for="trackName">Track name:</label>
            <input type="text" class="form-control" id="trackName" th:field="*{trackName}"/>
        </div>

        <div class="form-group">
            <label for="trackDescription">Description:</label>
            <textarea class="form-control" placeholder="some description" id="trackDescription"
                      style="height: 150px" th:field="*{trackDescription}"></textarea>
        </div>

        <div class="form-group">
            <label for="trackDate">Date: </label>
            <input type="date" class="form-control" id="trackDateDate" th:field="*{trackDate}"/>
        </div>



        <div id="map" class="container"></div>

        <div>
            <table id="data-table" class="table">
                <thead>
                <tr>
                    <th class="col-4">Szerokość</th>
                    <th class="col-4">Długość</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="checkpoint, iterStat: ${track.checkpointsList}">
                    <td th:value="${checkpoint.latitude}" ></td>
                    <td th:value="${checkpoint.longitude}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button class="btn btn-dark" type="submit">Add track</button>
        </div>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>

    </form>

    <a href="/tracks" class="btn btn-primary"><i class="bi bi-arrow-double-left"></i>Back to track list</a>

</div>

<script th:inline="javascript">

    function updateDataTable(map) {
        let dataTableBody = $('#data-table tbody')
        dataTableBody.html('')
        let checkPointNumber = -1;
        map.eachLayer(layer => {
            let popup = layer.getPopup()
            if (popup) {
                let text = $(popup.getContent()).find('.popup-span').text()
                let latLng = layer.getLatLng()

                dataTableBody.append(
                    $('<tr></tr>').append(
                        $('<td></td>').text(latLng.lat),
                        $('<td></td>').text(latLng.lng),
                        $('<input/>').attr({
                            type: 'hidden',
                            name: 'checkpointsList[' + checkPointNumber + '].latitude',
                            value: latLng.lat
                        }),
                        $('<input/>').attr({
                            type: 'hidden',
                            name: 'checkpointsList[' + checkPointNumber + '].longitude',
                            value: latLng.lng
                        }),
                        $('<td></td>').text(text + checkPointNumber),

                    )
                )
            }
            checkPointNumber++;
        })
    }

    function createPopupContents(marker) {
        let popupContents = $('<div></div>')
        popupContents.append(
            $('<span></span>').addClass('popup-span').text('Checkpoint ')
        )


        let trashButton = $('<button><i class="fas fa-trash" />Usuń</button>')
            .on('click', event => {
                marker.remove()
                updateDataTable(map)
            })

        popupContents.append(trashButton)
        return popupContents[0]
    }

    var options = {center: [54.349, 18.651],zoom: 12}
    var map = L.map('map', options);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let popupOpen = null
    map.on('preclick', mapEvent => {
        popupOpen = false
        map.eachLayer(layer => {
            if (layer.getPopup() && layer.getPopup().isOpen()) {
                popupOpen = true
            }
        })
    })

    map.on('click', mapEvent => {
        if (!popupOpen) {
            let marker = L.marker(mapEvent.latlng)
            marker.addTo(map).bindPopup(createPopupContents(marker));
            updateDataTable(map)
        }
    })
    updateDataTable(map)

</script>
<footer th:insert="fragments/footer" :: footer></footer>
</body>
</html>